.MmbZ1nNI3oidwF7R2G8y{width:400px}.p1D3MrRIzTj7fcJGc7Ov{font-size:24px;color:red}
.PlhOskEwSn3PX5JPHxlg{display:flex;align-items:center;width:100vw;height:100vh}
html,body,div,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
